.App {
  text-align: center;
}

.App-header {
  
  min-height: 100vh;
  
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
 
}

.app_form {
  padding: 20px;
  position: fixed;
  bottom: 0;
  z-index: 1;
  background-color: lightgray;
  width: 100%;
  margin: 20px;
}

.logo{
  height: 150px;
  width: 150px;
  
}

h4 {
  margin-top: 5px;
  margin-bottom: 10px;
  font-weight: normal;
}

.app_formControl {
  display: flex !important;
  flex-direction: row !important;
}

.app_input{
  flex: 0.95;
}


.app_iconButton {
  flex: 0;
}

